.container {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	min-width: 135px;
	min-height: 470px;
	width: 35%;
	height: 60%;
	padding: 10px 5% 5% 5%;
}
