*.log
*.lock
*.svg
.*ignore
*.png
*.jpg
.husky/**
*.woff
*.woff2
.flowconfig
*.eot
*.ttf
*.txt

*.asax
*.ico
*.nuspec
*.docx
*.ini
*.csproj
*.rej

*.cs
*.cshtml
*.map

*.config
*.*xml
*.json.example
/build/*
