.container {
	width: 30%;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
	background: var(--white-colorsGrey);
	border: 1px solid var(--darkBlack-colors);
	display: flex;
	flex-direction: column;
	align-items: end;
	padding: 21px 10px 0 10px;
	overflow-x: scroll;
}

.Link {
	display: flex;
	align-items: center;
	width: 22%;
	min-width: 60px;
	div {
      margin-left: 8px;
		height: 100%;
		display: inherit;
		align-items: center;
		svg {
			fill: var(--blue-color);
			stroke: var(--blue-color);
		}
	}
}

.contact {
	display: flex;
	padding: 12px 0;
	height: 10vh;
	min-height: 80px;
}

.avatar {
	min-width: 47px;
	height: 47px;
	border-radius: 50%;
	background-color: var(--gray-colors3);
}
.contactMainInformation{
	display: flex;
	flex-direction: column;
	align-items: start;
	margin-left: 10px;
}
.contactName{
	color: var(--black-colors);
	margin-bottom: 4px;
	font-weight: 600;
	font-size: 13px;
}

.lastMessage{
	overflow: hidden;
	text-overflow: ellipsis;
}

.lastDateMessageAndUnread {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: end;
	margin-left: 15px;
}
