.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  min-width: 135px;
  min-height: 470px;
  width: 35%;
  height: 60%;
}

.basicBlock {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  &:nth-child(1){
    height: 60%;
  }

  &:nth-child(2){
    height: 40%;
  }

  input:nth-child(2){
    margin-top: 20px;
  }
}

.headerName{
  margin-top: 20px;
}
