:root {
	--blue-color: #3369f3;
	--white-colors: #ffffff;
	--white-colorsGrey: #fbfbfb;
	--gray-colors: #999999;
	--gray-colors2: #efefef;
	--gray-colors3: #eaeaea;
	--black-colors: #1e1e1e;
	--darkBlack-colors: #000000;
}
