:root {
	--blue-color: #3369f3;
	--white-colors: #fff;
	--white-colors-grey: #fbfbfb;
	--gray-colors: #999;
	--gray-colors2: #efefef;
	--gray-colors3: #eaeaea;
	--black-colors: #1e1e1e;
	--dark-black-colors: #000;
}
